:root{
    --bgColor: #2831aa;
    --fontFamily: poppins;
    --bgColorTarjeta: #414bd8;
    --bgColorBtn: #5d5ff1;
    --bgColorBtnHover: #272bfd;
    --ColorBtn: #fff;
    --bgBtnCerrar: #f30e25;
    --bgBtnCerrarHover: #c9182a;
    --modalAnchoMax: 400px;
    --fuenteFina: 300;
    --fuenteMedia: 600;
    --fuenteGruesa: 800;
    --transitionTime: 0.3s;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--bgColor);
    color: var(--ColorBtn);
}

    .calificaciones .rating-btn {
        color: var(--ColorBtn);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .calificaciones .rating-btn:hover {
            background-color: none;
            transition: var(--transitionTime);
        }
        
        .hidden {
            display: none;
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;
            align-content: center;
            text-align: center;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity var(--transitionTime) ease;
            background-color: rgba(0, 0, 0, 0.897);
        }
        .modal.visible {
            visibility: visible;
            opacity: 1;
        }
        .modal-content {
            background-color: var(--bgColorTarjeta);
            padding: 20px;
            border-radius: 10px;
            max-width: var(--modalAnchoMax);
            text-align: center;
        }
        #modal-title {
            color: var(--ColorBtn);
            width: var(--modalAnchoMax);
        }
        .modal-content div {
            margin: 10px 0;
        }

        #modal-items{
            font-size: large;
            margin-block: 4px;
        }

        #modal-items div{
            margin-block: 4px;
        }

        #send-btn {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: var(--bgColorBtn);
            color: var(--ColorBtn);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 80%;
            font-size: large;
        }

        #send-btn:hover {
            background-color: var(--bgColorBtnHover);
        }

        #close-btn {
            padding: 10px 20px;
            background-color: var(--bgBtnCerrar);
            color: var(--ColorBtn);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 80%;
            font-size: large;
        }

        #close-btn:hover {
            background-color: var(--bgBtnCerrarHover);
        }


        input[type="radio"]{
            display: none;
        }

        input[type="radio"] + label{
            font-size: larger;
            color: #ccc;
            cursor: pointer;
        }

        input[type="radio"] + label:hover{
            background-color: var(--bgColor);
            margin-right: 5px;
            padding: 4px 4px 4px 4px;
            border-radius: 4px;
            transition: var(--transitionTime);
        }


/* Phone Modal */
#phone-input{
    color: rgba(0, 0, 0, 0.897);
    padding-block: 6px;
    padding-inline: 12px;
    width: 28vh;
    border-radius: 4px;
    border: none;
    margin: auto;
    font-size: larger;
    letter-spacing: 1px;
    font-weight: var(--fuenteMedia);
    margin-bottom: 8px;
}

    #confirm-phone-btn{
        background-color: var(--bgColorTarjeta);
        width: 32vh;
    }

        #confirm-phone-btn:hover{
            background-color: var(--bgColor);
        }
    
    #close-phone-modal-btn{
        width: 32vh;
        background-color: var(--bgBtnCerrar);
    }
        #close-phone-modal-btn:hover{
            background-color: var(--bgBtnCerrarHover);
        }