:root{
    --bgColor: #2831aa;
    --fontFamily: poppins;
    --bgColorTarjeta: #414bd8;
    --bgColorBtn: #5d5ff1;
    --bgColorBtnHover: #272bfd;
    --ColorBtn: #fff;
    --bgBtnCerrar: #f30e25;
    --bgBtnCerrarHover: #c9182a;
    --bgItems-Modal: #6f0fbe;
    --bgItems-Modal-Hover: #45024e;
    --modalAnchoMax: 400px;
    --fuenteFina: 300;
    --fuenteMedia: 600;
    --fuenteGruesa: 800;
    --transitionTime: 0.3s;
    --BtnFontSize: 2.6vh;
    --BtnPhoneWidth: 50vh;
}

body {
    font-family: var(--fontFamily);
    background-color: var(--bgColor);
    color: var(--ColorBtn);
}

    .calificaciones .rating-btn {
        color: var(--ColorBtn);
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .calificaciones .rating-btn:hover {
            background-color: none;
            transition: var(--transitionTime);
        }
        
        .hidden {
            display: none;
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: grid;
            justify-content: center;
            align-content: center;
            text-align: center;
            align-items: center;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity var(--transitionTime) ease;
            background-color: rgba(0, 0, 0, 0.897);
        }
        .modal.visible {
            visibility: visible;
            opacity: 1;
        }
        .modal-content {
            background-color: var(--bgColorTarjeta);
            padding: 20px;
            border-radius: 10px;
            max-width: var(--modalAnchoMax);
            text-align: center;
        }
        h2{
            color: var(--ColorBtn);
            width: var(--modalAnchoMax);
            font-size: 3vh;
            margin: auto;
        }
        .modal-content div {
            margin: 10px 0;
        }

        #modal-items{
            font-size: 2vh;
            margin-block: 4px;
        }

        #modal-items div{
            margin-block: 16px;
            background-color: var(--bgItems-Modal);
            padding-block: 8px;
            font-size: larger;
            border-radius: 4px;
        }

        #modal-items div:hover{
            background-color: var(--bgItems-Modal-Hover);
            transition: var(--transitionTime);

        }

        #send-btn {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: var(--bgColorBtn);
            color: var(--ColorBtn);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: var(--BtnFontSize);
        }

        #send-btn:hover {
            background-color: var(--bgColorBtnHover);
        }

        #close-btn {
            padding: 10px 20px;
            background-color: var(--bgBtnCerrar);
            color: var(--ColorBtn);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: var(--BtnFontSize);
        }

        #close-btn:hover {
            background-color: var(--bgBtnCerrarHover);
        }


        input[type="radio"]{
            display: none;
        }

        input[type="radio"] + label{
            font-size: larger;
            color: #ccc;
            cursor: pointer;
        }

        /* input[type="radio"] + label:hover{
            background-color: var(--bgColor);
            margin-right: 5px;
            padding: 4px 4px 4px 4px;
            border-radius: 4px;
            transition: var(--transitionTime);
        } */


/* Phone Modal */
#phone-input{
    color: rgba(0, 0, 0, 0.897);
    padding-block: 12px;
    width: var(--BtnPhoneWidth);
    border-radius: 4px;
    border: none;
    margin: auto;
    font-size: larger;
    text-align: center;
    letter-spacing: 1px;
    font-weight: var(--fuenteMedia);
    margin-bottom: 8px;
    margin-top: 12px;
}

    #confirm-phone-btn{
        background-color: var(--bgColorTarjeta);
        width: var(--BtnPhoneWidth);
        font-size: var(--BtnFontSize);
    }

        #confirm-phone-btn:hover{
            background-color: var(--bgColor);
        }
    
    #close-phone-modal-btn{
        width: var(--BtnPhoneWidth);
        font-size: var(--BtnFontSize);
        background-color: var(--bgBtnCerrar);
    }
        #close-phone-modal-btn:hover{
            background-color: var(--bgBtnCerrarHover);
        }